# https://docs.github.com/ja/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
 
version: 2
# registries:
#   ecr-docker:
#     type: docker-registry
#     url: https://1234567890.dkr.ecr.us-east-1.amazonaws.com
#     username: ${{secrets.ECR_AWS_ACCESS_KEY_ID}}
#     password: ${{secrets.ECR_AWS_SECRET_ACCESS_KEY}}
#     replaces-base: true
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      # Prefix all commit messages with "[docker] " (no colon, but a trailing whitespace)
      prefix: "[docker] "

